:root {
    /* Fonts */
    /* --mainFont: 'Staatliches', cursive;
    --textFont: 'Open Sans', sans-serif;
    --secondaryFont: 'Raleway', sans-serif; */

    /* Colors */
    --primary: #ff5b00;
    --darkGray: #2f2e2e;
    --lightGray: #ebebeb;

    --white: #ffffff;
    --black: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  /** Globals */
  a {
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.container {
    max-width: 120rem; /** 1200px */
    width: 100%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    margin: auto;
}

/** Header */
header {
  padding: 0 2rem;
  height: 5rem;
  display: flex;
  justify-content: space-between;
}
header {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url(../images/hero.jpg);
    height: 60rem;
    background-size: cover;
    text-align: center;
}
.logo {
    color: #fff;
    font-family: 'Yesteryear', cursive;
    font-size: 4rem;
}
  /** Menu */
nav {
    display: flex;
    justify-content: space-between;
    padding: 3rem, 4rem;
}
.nav-menu {
    color: var(--white);
}
.nav-menu li {
    display: inline-block;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}
.nav-menu li a {
    color: var(--white);
    padding-left: 1rem;
    padding-right: 1rem;
    transition: color 0.3s ease-in-out;
}
.nav-menu li a:hover {
    color: #f2ac32;
}

.header-title-1 {
    color: #f2ac32;
    font-size: 4.4rem;
    font-family: 'Rochester', cursive;
    margin-top: 16rem;
    margin-bottom: 1.2rem;
}
.header-title-2 {
    color: var(--white);
    font-family: 'Oswald', sans-serif;
    font-size: 5.5rem;
    letter-spacing: 0.2rem;
    margin-bottom: 2.5rem;
}
.header-cta-button {
    color: var(--white);
    background-color: #f2ac32;
    padding: 1rem 2rem;
    text-decoration: none;
    font-size: 1.4rem;
    transition: all 0.3s ease-in-out;
}
.header-cta-button:hover {
    background-color: rgb(196, 137, 36);
}
.search-icon {
    margin-left: 2rem;
    margin-right: 2rem;
    color: var(--white);
}
.my-bag {
  color: var(--white);
    font-size: 2rem;
}
/**Mobile Menu */
#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
  }
  
  #hamburger-icon div {
    width: 3.5rem;
    height: 0.3rem;
    background-color: var(--white);
    margin: 0.6rem 0;
    transition: 0.4s;
  }
  .open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .open .bar2 {
    opacity: 0;
  }
  
  .open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }
  
  .open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .mobile-menu {
    display: none;
    position: absolute;
    top: 1.5rem;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
  }
  
  .mobile-menu li {
    font-size: 1rem;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 1rem;
  }
  .mobile-menu li a {
    color: var(--white);
    padding-left: 1rem;
    padding-right: 1rem;
    transition: color 0.3s ease-in-out;
  }
  .mobile-menu li a:hover {
    color: #f2ac32;
  }

  /** Discover Section */
  .discover-section {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    padding: 10rem;
  }
  .food-border {
    border: 0.2rem solid #f2ac32;
    position: relative;
  }
  .food-overlay {
    padding: 10rem 1rem 0 1rem;
    position: absolute;
    right: 1.2rem;
    top: 1.2rem;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: -1px 4px 22px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 22px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 4px 22px 0px rgba(0,0,0,0.75);
  }
  .food-item {
    width: 24rem;
    height: 40rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    text-align: center;
  }
  .food-item a {
    font-size: 1.2rem;
    color: #f2ac32;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
  }
  .food-item p {
    color: rgb(99, 99, 99);
    font-size: 1.2rem;
    padding-bottom: 2rem;
  }
  .food-1 {
    background-image: url(../images/burger.jpg);
    background-size: cover;
    margin-top: -3rem;
    -webkit-box-shadow: -1px 4px 22px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 22px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 4px 22px 0px rgba(0,0,0,0.75);
  }
  .food-2 {
    background-image: url(../images/egg-toast.jpg);
    background-size: cover;
    -webkit-box-shadow: -1px 4px 22px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 22px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 4px 22px 0px rgba(0,0,0,0.75);
  }
  .discover-h1 {
    color: #f2ac32;
    font-family: 'Rochester', cursive;
    margin-bottom: 1.5rem;
  }
  .discover-h2 {
    color: var(--black);
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    letter-spacing: 0.2rem;
    margin-bottom: 1.5rem;
  }

   /** Specialties Section */
   .specialties-section {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/various-plates.jpg);
    background-size: cover;
    padding-top: 10rem;
    padding-bottom: 10rem;
   }
   .specialties-middle {
    text-align: center;
    position: relative;
  }
   .specialties-h1 {
    color: #f2ac32;
    font-family: 'Rochester', cursive;
    margin-bottom: 1.5rem;
    font-size: 4rem;
  }
.specialties-h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 5rem;
    letter-spacing: 0.2rem;
    margin-bottom: 8rem;
    color: #fff;
  }
  .specialties-row {
    display: flex;
    justify-content: center;
  }
  .specialties-col {
    width: 35rem;
    margin-right: 2rem;
    margin-left: 2rem;
  }
  .specialties-image1,
  .specialties-image2,
  .specialties-image3 {
    width: 100%;
    height: 25rem;
    margin-bottom: 3rem;
    position: relative;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
  }
  .specialties-image1 {
    background-image: url(../images/soup.jpg);
    background-size: cover;
  }
  .specialties-image1:hover .specialties-overlay,
  .specialties-image2:hover .specialties-overlay,
  .specialties-image3:hover .specialties-overlay {
    opacity: 1;
  }
  .specialties-image2 {
    background-image: url(../images/steak.jpg);
    background-size: cover;
  }
  .specialties-image3 {
    background-image: url(../images/pancake.jpg);
    background-size: cover;
  }
  .specialties-h3 {
    font-size: 2.6rem;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    letter-spacing: 0.2rem;
    margin-bottom: 8rem;
  }
  .specialties-overlay {
    opacity: 0;
    position: absolute;
    background-color: rgba(242, 172, 50, 0.5);
    width: 100%;
    height: 100%;
    padding: 1rem;
    transition: all 0.4s ease-in-out;
  }
  .specialties-overlay-border {
    border: 0.2rem solid #fff;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    letter-spacing: 0.2rem;
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
  }
  .specialties-middle:before {
    content: '';
    position: absolute;
    border-top: 10rem solid #f0f0f0;
    border-right: 100vw solid transparent;
    top: -10rem;
    left: 0;
  }
  .specialties-middle:after {
    content: '';
    position: absolute;
    border-bottom: 10rem solid #f0f0f0;
    border-left: 100vw solid transparent;
    bottom: -10rem;
    right: 0;
  }


  /** Responsive Part Begins For Mobile Devices */
  @media only screen and (max-width: 768px) {
    header nav {
      display: none;
    }
    #hamburger-icon {
      display: block;
    }
  }

   /** Responsive Part Begins For Large Devices */
   @media only screen and (min-width: 768px) {
    
  }

  /** Special Menu Section */
  .special-menu-section {
    text-align: center;
    background-color: #f0f0f0;
    padding: 5rem;
  }

  .special-menu-container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .special-menu-h1 {
    font-family: "Rochester", cursive;
    color: #f2ac32;
    margin-bottom: 1.5rem;
    font-size: 4rem;
  }

  .special-menu-h2 {
    color: #000000;
    margin-bottom: 5rem;
    font-family: 'Oswald', sans-serif;
    font-size: 5rem;
    letter-spacing: 0.2rem;
  }

  .special-menu-h3 {
    width: 100%;
    font-family: "Rochester", cursive;
    font-size: 2.2rem;
    letter-spacing: 0.2rem;
  }

  .separator,
  .separator-orange {
    display: inline-block;
    width: 4rem;
    border-bottom: 0.2rem solid var(--white);
    margin: 1.5rem auto;
  }

  .special-menu-p {
    font-family: "Oswald", sans-serif;
    font-size: 1.4rem;
    padding: 3rem 2rem;
    width: 100%;
  }

  .special-menu-h4 {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.3rem;
    width: 100%; 
  }

  .special-menu-col {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .col-large {
    width: 50%;
    height: 45rem;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
  }

  .col-large-1,
  .col-large-3 {
    background-color: #f2ac32;
    color: var(--white);
    justify-content: center;
  }

  .fa-ice-cream,
  .fa-utensils,
  .fa-burger,
  .fa-pizza-slice {
    width: 100%;
    font-size: 5rem;
    margin-top: 1rem;
  }

  .col-large-2 {
    background-image: url(../images/icecream.jpg);
    background-size: cover;
  }

  .col-large-4 {
    background-image: url(../images/pizza-slice.jpg);
    background-size: cover;
  }

  .fa-burger,
  .fa-pizza-slice {
    color: #f2ac32;
    font-size: 5rem;
    width: 100%;
    margin-bottom: 1rem;
  }

  .col-small {
    width: 50%;
    height: 22.5rem;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: center;
  }

  .col-small-1 {
    background-color: var(--white);
  }

  .col-small-2 {
    background-image: url(../images/salmon.jpg);
    background-size: cover;
    background-position: center;
  }

  .col-small-3 {
    background-image: url(../images/small-pizza.jpg);
    background-size: cover;
    background-position: center;
  }

  .special-menu-small-h3 {
    font-family: "Rochester", cursive;
    font-size: 2.2rem;
    letter-spacing: 0.2rem;
    width: 100%;
    color: #f2ac32;
  }

  .separator-orange {
    border-bottom: 0.2rem solid #f2ac32;
  }

  .special-menu-small-h4,
  .special-menu-small-h5 {
    width: 100%;
    color: var(--black);
    letter-spacing: 0.3rem;
    font-family: 'Oswald', sans-serif;
  }

  .special-menu-small-h5 {
    color: #f2ac32;
    margin-top: 1rem;
  }